.modal-content {
    background-color: white;
    color: black;
}

.modal-header {
    background-color: black;
    color: white;
}

.modal-header .btn-primary {
    font-size: 23px;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    background-color: black;
    color: white;
    border-top: none;
}
