.task {
    background: white;
    box-shadow: 0px -2px 17px -3px rgba(0,0,0,0.1), 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 19px 20px;
    max-width: 300px;
    cursor: pointer;
    text-align: left;
}

.task p {
    font-size: 13px;
    margin: 0;
}

.task_status {
    font-size: 12px;
    background: antiquewhite;
    padding: 9px 10px;
    border-radius: 18px;
}

.task_priority {
    font-size: 12px;
    background: antiquewhite;
    padding: 9px 10px;
    border-radius: 18px;
}

.task svg {
    font-size: 28px;
    margin: 0 10px;
}
