.task {
    background: white;
    box-shadow: 0 -2px 17px -3px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 19px 20px;
    max-width: 300px;
    cursor: pointer;
    text-align: left;
}
.task p {
    margin: 0;
}

.task h4 {
    font-size: 18px;
}
.task_deadline {
    font-size: 14px;
}

.task_description {
    font-size: 13px;
}

.task_status {
    font-size: 12px;
    padding: 9px 10px;
    border-radius: 18px;

}

.task_priority {
    font-size: 12px;
    padding: 9px 10px;
    border-radius: 18px;
    fill: #E7828C;
}

.task svg {
    font-size: 28px;
    margin: 0 4px;
}

.add_users {
    fill: #7F7870;
}

.toComplete {
    fill: #3DBBA0;
}

.toCancel {
    fill: #E7828C;
}
